# Node modules
node_modules/

# TypeScript build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Temporary files
*.tmp

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
